@keyframes title-fade-in {
    0% {
        color: var(--header-fade-in-color);
    }
    10% {
        color: var(--header-fade-in-color);
    }
    100% {
        color: var(--primary-font-color);
    }
}

@keyframes header-shrink {
    0% {
        height: var(--header-enlarged-height);
    }
    100% {
        height: var(--header-shrunk-height);
    }
}

@keyframes header-enlarge {
    0% {
        height: var(--header-shrunk-height);
    }
    100% {
        height: var(--header-enlarged-height);
    }
}

@keyframes header-title-shrink {
    0% {
        font-size: var(--header-enlarged-font-size);
    }
    100% {
        font-size: var(--header-shrunk-font-size);
    }
}

@keyframes header-hide-subtitle {
    0% {
        opacity: 1;
        transform: translateY(0);
        height: var(--header-subtitle-height);
    }
    100% {
        opacity: 0;
        transform: translateY(var(--header-subtitle-translate-y));
        height: 0;
    }
}

@keyframes header-show-subtitle {
    0% {
        opacity: 0;
        transform: translateY(var(--header-subtitle-translate-y));
        height: 0;
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
        height: var(--header-subtitle-height);
    }
}

@keyframes header-shrink-border {
    0% {
        width: var(--header-border-width);
    }
    100% {
        width: 0px;
    }
}

@keyframes header-enlarge-border {
    0% {
        width: 0;
    }
    100% {
        width: var(--header-border-width);
    }
}

@keyframes rotate {
    0% {
        transform: rotate3d(1, 1, 1, 0deg);
    }
    50% {
        transform: rotate3d(1, 1, 1, 180deg);
    }
    100% {
        transform: rotate3d(1, 1, 1, 360deg);
    }
}