@keyframes rotate {
    0% {
        /* transform: rotate3d(1, 1, 1, 0deg); */
        transform: rotate(0deg);
    }
    /* 50% {
        transform: rotate3d(1, 1, 1, 180deg);
    } */
    100% {
        /* transform: rotate3d(1, 1, 1, 360deg); */
        transform: rotate(360deg);
    }
}