@keyframes atom-bob {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-3px);
    }
    50% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes rotate {
    0% {
        transform: rotate3d(1, 1, 1, 0deg);
    }
    50% {
        transform: rotate3d(1, 1, 1, 180deg);
    }
    100% {
        transform: rotate3d(1, 1, 1, 360deg);
    }
}

@keyframes hide-atom {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}