header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #141314;
    box-shadow: 0px 9px 9px -3px rgba(0, 0, 0, 0.28);;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: fade-in 2.2s;
    z-index: 1000;
}

.title {
    font-size: 40px;
    margin: 0;
    line-height: 30px;
}

.subtitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 120px;
}