header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--primary-background-color);
    box-shadow: var(--bottom-shadow);
    z-index: 1000;
}

.title-container {
    height: 100%;
    animation: title-fade-in var(--header-title-fade-in-duration);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.enlarged {
    height: var(--header-enlarged-height);
    animation: header-enlarge var(--header-transition-duration);
}

.shrunk {
    height: var(--header-shrunk-height);
    animation: header-shrink var(--header-transition-duration);
}

.visible {
    opacity: 1;
    animation: header-show-subtitle var(--header-transition-duration);
    transform: translateY(0);
}

.invisible {
    opacity: 0;
    animation: header-hide-subtitle var(--header-transition-duration);
    transform: translateY(var(--header-subtitle-translate-y));
}

.title {
    margin: 0;
    line-height: var(--header-title-line-height);
}

.title .title-enlarged {
    font-size: var(--header-enlarged-font-size);
    animation: header-title-enlarge var(--header-transition-duration);
}

.title .title-shrunk {
    font-size: var(--header-shrunk-font-size);
    animation: header-title-shrink var(--header-transition-duration);
}

.subtitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--header-subtitle-width);
}