main {
    width: 100%;
    position: absolute;
    height: 2000px;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    position: relative;
    z-index: 1;
}

main .scroll-body {
    background-color: #d0c9c1;
    width: 70%;
    max-width: 700px;
    height: 100%;
}