main {
    width: 100%;
    height: 2000px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: var(--footer-height);
    margin-top: var(--header-enlarged-height);
    position: relative;
    z-index: 1;
    box-shadow: var(--bottom-shadow);
}

.overlay {
    width: 100vw;
    height: 100vh;
    background-color: black;
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay-vanish {
    transform: translateY(-100vh);
    opacity: 0;
    animation: overlay-vanish 2s;
}

main .scroll-body {
    background-color: var(--tertiary-background-color);
    width: var(--main-width);
    max-width: var(--main-max-width);
    height: 100%;
    box-shadow: var(--full-shadow);
}

.about {
    height: 1000px;
}

.article-container {
    position: relative;
    padding: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--quadriary-background-color);
    box-shadow: var(--full-shadow);
}

article {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-30px);
}

.dropped {
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
    animation: about-us 1s;
}

.computer-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container {
    position: relative;
    z-index: 1;
    width: 500px;
}

#computer {
    width: 100%;
    z-index: 2;
}

.display {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: var(--primary-background-color);
    width: 460px;
    height: 260px;
    z-index: 3;
    overflow-y: scroll;
}
