@font-face {
    font-family: Poppins Light;
    src: url(../font/Poppins/Poppins-Light.ttf);
}

@font-face {
    font-family: "Poppins Medium";
    src: url(../font/Poppins/Poppins-Medium.ttf);
}

:root {
    --primary-background-color: #000000;
    --secondary-background-color: #070707;
    --primary-accent-color: darkorange;

    --primary-font-color: #FBFAF5;


    --full-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    --bottom-shadow: 0px 9px 9px -3px rgba(0, 0, 0, 0.28);

    --mobile-header-height: 60px;
    --mobile-menu-width: 75vw;
}

body, html {
    margin: 0;
    background-color: var(--secondary-background-color);
    color: var(--primary-font-color);
    font-family: "Poppins Light"
}

.full-shadow {
    box-shadow: var(--full-shadow);
}

.bottom-shadow {
    box-shadow: var(--bottom-shadow);
}

.upper-shadow {
    box-shadow: var(--upper-shadow);
}